.controlPanel {
  display: flex;
  justify-content: space-between;
}

.positions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.controles {
  display: flex;
  flex-direction: column;
}
